name: Build and test
env:
  image_tagged: laravel-realworld-example-app
  default_port: 5000
  source_image: tmp-cnb-image
on:
  push: {}
jobs:
  build_and_push_to_registry:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Pack Build
        uses: dfreilich/pack-action@v2.0.0
        with:
          args: 'build ${{ env.source_image }} --builder heroku/buildpacks:20'
      - name: generate build instructions using pack
        run: |
          cat >> Dockerfile <<EOF
          ARG source_image
          FROM ${{ env.source_image }}
          ARG default_port
          ENV PORT=${default_port}
          EXPOSE ${default_port}
          
          EOF 
          cp /build/cnb.Dockerfile Dockerfile
          docker build \
            --build-arg source_image=${{ env.source_image }} \
            --build-arg default_port=5000 \
            --tag "${{ env.image_tagged }}"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1 
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            acdhch/${{ env.image_tagged }}
            ghcr.io/acdh-oeaw/${{ env.image_tagged }}